* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif, Arial, Verdana;;
	font-size: 32px;
	color: #424242;
	background-color: #F5F5F5;
}

ul#foods li.selected {
	background: linear-gradient(to top right, #E7A274, 10%, #F5F5F5);
}
ul#foods li.rated {
	border-left-color: green;
}

ol#ratings li, div.tap, h1 {
	background-color: rgba(231, 162, 116, 70%);
}
ol#ratings li {
	background-color: #F3EDCE;
}
ol#ratings li.check {
	background-color: rgba(231, 162, 116, 70%);
}


h1 {
	font-size: 52px;
	padding: 0.2em;
}

body {
	display: flex;
	padding: 0.5em;
}

#content {
	margin-top: 0.2em;
	margin-left: 0.5em;
	width: 70%;
	display: none;
}

p#description {
	margin: 1em 0;
}

ul, ol {
	list-style: none;
}
ol#ratings li, ul#allergens li {
	display: inline;
	font-size: 40px;
}

ul#foods li {
	font-size: 32px;
	font-weight: bold;
	padding: 0.5em;
	margin-right: 0.5em;
	border-top: 1px solid darkgrey;
	border-left: 0.2em solid transparent;
}
ul#foods li:first-child {
	border-top: 0;
}

ol#ratings {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-radius: 0.5ex;
}

ol#ratings li {
	text-align: center;
	flex: auto;
}
ol#ratings li:first-child {
	border-top-left-radius: 0.5ex;	
	border-bottom-left-radius: 0.5ex;	
}
ol#ratings li:last-child {
	border-top-right-radius: 0.5ex;
	border-bottom-right-radius: 0.5ex;	
}
div#location {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
div.tap {
	flex: none;
	display: inline-block;
	margin: 1ex 0;
	padding: 0.5ex;
	border-radius: 10px;
}
textarea#notes {
	width: 100%;
	margin: 1ex 0;
	border: 1px solid #888; 
}

a {
	font-size: 40px;
	text-decoration: none;
}

a#cog {
	display: block;
}


